@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  //background: #222;
  z-index: 10;
}

.header .navbar-brand {
  font-weight: 900;
}

.header .navbar {
  margin: 0;
  border: none;
}

.logo{
  filter: drop-shadow(5px 5px 5px #222); 
  margin-top: 80px;
}

.page-section {
  width: 100%;
  min-height: 800px;
  padding: 50px 0;
}

.page-section h1 {
  font-size: 4em;
  margin: 50px 0;
}

.page-section h1 span {
  font-weight: 200;
}

.page-section h2 {
  font-size: 3em;
  font-weight: 900;
  color: #fff;
  margin: 0 0 30px;
  text-shadow: 2px 2px 2px #000;
}

.page-section p {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0 25% 20px 0;
}

.page-section h3 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.page-section p.lead {
  font-size: 1.8em;
}

.page-section p.caption {
  color: #fff;
  padding: 20px;
  margin: auto;
  text-shadow: 1px 1px 1px #000;
}

form {
  color: #fff;
}

.about, .school, .intern {
  background-color: rgba(0,0,0,.5)
}

.card-title {
  text-align: center;
}

.page-section#top {
  background: url("../img/Kelowna1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: none;
  padding: 0;
  margin; 0;
  height: 100vh;
}

.page-section#about {
  background: url("../img/Stage.jpg") bottom center no-repeat;
  background-size: cover;
  padding: 0;
}

.page-section#ministries {
  background: url("../img/ministry3.jpg") top center no-repeat;
  background-size: cover;
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}

.page-section#giving {
  background: url("../img/generosity.jpg") top center no-repeat;
  background-size: cover;
}

.bc-logo{
  filter: drop-shadow(5px 5px 5px #222); 
  width: 700px;
  height: 250px;
}

.page-section#school {
  background: url("../img/Bible-College.jpg") no-repeat;
  background-size: cover;
}

.school-btn, input[type=submit] {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: 0 0;
  color: #fff;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 25px;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sci-logo{
  filter: drop-shadow(5px 5px 5px #222); 
  width: 700px;
  height: 250px;
}

.page-section#interns {
  background: url("../img/Interns.jpg") top center no-repeat;
  background-size: cover;
  filter: contrast(40%) blur(15%);
}

.page-section#contact {
  background: url("../img/Kelowna2.jpg") top center no-repeat;
  background-size: 2000px 1200px;
  background-color: #464545;
}

.footer {
  font-size: 6px;
}

@media (min-width: 768px) {
  .header .navbar-brand {
    padding-left: 0;
  }
  .navbar-nav {
    float: right;
  }
}
@media (max-width: 480px) {
  .page-section h1 {
    font-size: 3em;
  }
  .page-section h2 {
    font-size: 2em;
  }
  .page-section p {
    font-size: 1em;
    margin: 0 0 20px;
  }
}
